.dialog_control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 80px;
  padding-left: 10px;
  padding-right: 10px;
  background: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cbcbcb));
  background-image: linear-gradient(#fff, #cbcbcb);
  font-size: 18px;
}

@media (max-width: 1024px) {
  .dialog_control {
    position: fixed;
    bottom: 0px;
  }
}

.dialog_control * {
  vertical-align: middle;
}

.dialog_control li {
  margin-right: 30px;
}

.dialog_control li a span:nth-child(1) {
  margin-right: 10px;
}

.dialog_control li a:hover {
  color: red;
}

.pageTile {
  color: #fff;
  font-size: 1.5em;
  padding: 0.3em 1.5em;
}

.lists li {
  background-color: #f1f8ff;
  margin-bottom: 5px;
  padding: 0.5em 1.5em;
}

.lists li span {
  display: inline-block;
  word-break: break-all;
  width: calc(100% - 185px);
}

@media screen and (max-width: 414px) {
  .lists li span {
    width: calc(100% - 115px);
  }
}

.lists li .timestamp {
  width: 185px;
  vertical-align: top;
}

@media screen and (max-width: 414px) {
  .lists li .timestamp {
    width: 115px;
    padding-right: 15px;
  }
}

#fillersInterface {
  display: none;
}
/*# sourceMappingURL=dialog.css.map */