.dialog_control{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 80px;
  padding-left: 10px;
  padding-right: 10px;
  background: #fff;
  background-image: linear-gradient(#fff, rgb(203, 203, 203));
  font-size: 18px;
  @media (max-width: 1024px){
    position: fixed;
    bottom: 0px;
  }
  *{
    vertical-align: middle;
  }
  li{
    margin-right: 30px;
    a{
      span:nth-child(1){
        margin-right: 10px;
      }
    }
    a:hover{
      color: red;
    }
  }
}

.pageTile{
  color:#fff;
  font-size: 1.5em;
  padding: 0.3em 1.5em;
}

.lists{
  li{
    background-color: #f1f8ff;
    margin-bottom: 5px;
    padding: 0.5em 1.5em;
    span{
      display: inline-block;
      word-break: break-all;
      width: calc(100% - 185px);
      @media screen and (max-width: 414px){
        width: calc(100% - 115px);
      }
    }
    .timestamp{
      width: 185px;
      vertical-align: top;
      @media screen and (max-width: 414px){
        width: 115px;
        padding-right: 15px;
      }
    }
  }
}

#fillersInterface{
  display: none;
}