@charset "UTF-8";
ol, ul {
  list-style: none;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

input, textarea, button, select, a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
  color: inherit;
}

fieldset, img {
  border: 0;
}

#logDialog {
  border: 10px solid #2d3943;
  position: fixed;
  background-color: #fff;
  z-index: 15;
  right: 30px;
  display: none;
}

#logDialog ul.logContent {
  width: 100%;
  padding: 5px 10px;
  font-size: 1em;
  max-height: 300px;
  overflow: auto;
}

#logDialog ul.logContent li {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#logDialog ul.logContent li .timestamp {
  color: #0c5460;
}

#logDialog ul.logContent li .logoDes {
  margin-left: 10px;
}

#logDialog .foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #2d3943;
}

#logDialog .foot .btn {
  width: 50%;
  display: inline-block;
  font-weight: bold;
  color: #fff;
  opacity: 0.4;
}

#logDialog .foot .btn img {
  height: 30px;
  margin-right: 20px;
  vertical-align: middle;
}

#logDialog .foot .btn span {
  height: 30px;
  vertical-align: middle;
}

#logDialog .foot .btn:hover {
  opacity: 1;
}

#logDialog .foot .close {
  width: 25%;
}

#logDialog .foot .close img {
  margin: 0;
}

.translucentBg,
#qa_delete {
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  display: none;
}

.translucentBg .form_buleBg,
#qa_delete .form_buleBg {
  background: #fff;
  width: 550px;
  border: 4px solid #2d3943;
  margin: 0 auto;
  margin-top: 5vh;
}

.translucentBg .form_buleBg .form_type,
#qa_delete .form_buleBg .form_type {
  padding: 30px 25px 10px 25px;
}

.translucentBg .form_buleBg .form_type img,
#qa_delete .form_buleBg .form_type img {
  width: 20px;
  vertical-align: text-top;
}

.translucentBg .form_buleBg .form_type .attension,
#qa_delete .form_buleBg .form_type .attension {
  float: right;
}

.translucentBg .form_buleBg > ul,
#qa_delete .form_buleBg > ul {
  padding: 0px 25px 10px 25px;
  max-height: 415px;
  overflow-y: auto;
  width: 100%;
}

.translucentBg .form_buleBg > ul > li label,
#qa_delete .form_buleBg > ul > li label {
  width: 168px;
  text-align: right;
}

.translucentBg .form_buleBg > ul > li + li,
#qa_delete .form_buleBg > ul > li + li {
  margin-top: 10px;
}

.translucentBg .form_buleBg input,
#qa_delete .form_buleBg input {
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 310px;
  margin-left: 5px;
}

.translucentBg .form_buleBg .notNull,
#qa_delete .form_buleBg .notNull {
  z-index: 999;
  background-image: url("../../image/attention.png");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: right top;
  padding-right: 27px;
}

.translucentBg .form_buleBg title,
#qa_delete .form_buleBg title {
  color: #003eff;
  font-size: 1.5em;
  display: block;
  text-align: center;
  margin-top: 20px;
}

.translucentBg .form_buleBg .showTxt,
#qa_delete .form_buleBg .showTxt {
  margin: 0 auto;
  word-break: break-all;
  padding: 15px 35px 35px 35px;
}

.translucentBg .form_buleBg .foot,
#qa_delete .form_buleBg .foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #2d3943;
  padding: 10px 40px;
  color: #fff;
}

.translucentBg .form_buleBg .foot button,
#qa_delete .form_buleBg .foot button {
  width: 50%;
  display: inline-block;
  font-weight: bold;
  color: #FFF;
  background-color: #2d3943;
  border: 0px;
}

.translucentBg .form_buleBg .foot button img,
#qa_delete .form_buleBg .foot button img {
  height: 30px;
  margin-right: 20px;
  vertical-align: bottom;
}

.translucentBg .form_buleBg .foot #addNewConnectBtn,
.translucentBg .form_buleBg .foot #editConnectBtn,
#qa_delete .form_buleBg .foot #addNewConnectBtn,
#qa_delete .form_buleBg .foot #editConnectBtn {
  display: none;
}

#loadingPage {
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
}

#loadingPage div {
  background-image: url("../../image/operwait.gif");
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  background-size: 100%;
}

#burger {
  position: fixed;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

#burger:checked ~ header .header_burgerlist span:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(45deg);
  transform: translateY(10px) rotate(45deg);
}

#burger:checked ~ header .header_burgerlist span:nth-child(2) {
  width: 0;
}

#burger:checked ~ header .header_burgerlist span:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

#burger:checked ~ header .header_menu {
  left: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #fff;
  width: 100%;
  height: 80px;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}

@media (max-width: 1024px) {
  header {
    border-bottom: 1px solid #aaa;
    padding-left: 20px;
    padding-right: 20px;
    height: 80px;
  }
}

header .header_menu {
  position: fixed;
  left: -100%;
  top: 80px;
  width: 210px;
  height: calc(100vh - 80px);
  background-color: #2e363c;
  background-image: url(../../image/bg-nav.png);
  border-right: 4px solid #1e1e1e;
  -webkit-transition: left 0.8s;
  transition: left 0.8s;
  z-index: 10;
}

header .header_menu .l__header__menu__user {
  padding: 15px 20px;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
}

header .header_menu .l__header__menu__user .name {
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
}

header .header_menu .l__header__menu__user .mail {
  font-size: 14px;
  color: #aaa;
  margin-bottom: 5px;
}

header .header_menu .l__header__menu__user .identity {
  font-size: 14px;
  color: #e0c904;
}

header .header_menu .l__header__menu__user .icon {
  position: absolute;
  top: 20px;
  right: 20px;
}

header .header_menu .mobile-language {
  width: 100%;
  border: solid 1px #cccccc;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url(../../image/select-arrow.png) no-repeat scroll right center transparent;
  background-position-x: calc(100% - 12px);
  background-size: 1.2rem;
  background-color: #fff;
  padding-right: 18px;
  padding-left: 25px;
  color: #6e6e6e;
  height: 40px;
  border-radius: 0;
  letter-spacing: 7px;
}

header .header_menu ul > li a {
  display: block;
  padding: 17px 25px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

header .header_menu ul > li a img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 25px;
  width: 20px;
}

header .header_menu ul > li a:hover,
header .header_menu ul > li a.active {
  background: rgba(1, 177, 177, 0.5);
}

header .header_menu .tip {
  position: absolute;
  background: red;
  color: #fff;
  padding: 3px;
  z-index: 5;
  right: 12%;
}

header .logo {
  position: relative;
}

header .logo * {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

@media (max-width: 500px) {
  header .logo * {
    margin-right: 10px;
  }
}

header .logo img {
  width: 300px;
}

@media (max-width: 500px) {
  header .logo img {
    width: 250px;
    margin-left: -6px;
  }
}

header .logo .version {
  font-size: 1rem;
  letter-spacing: 1.5px;
}

@media (max-width: 768px) {
  header .logo .version {
    font-size: 0.6rem;
  }
}

header .header_func {
  text-align: right;
  /*清除ie的默认选择框样式清除，隐藏下拉箭头*/
}

header .header_func .loginInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 14px;
  padding-left: 25px;
}

header .header_func .loginInfo > * {
  display: inline-block;
  vertical-align: middle;
  margin: 0px 5px;
}

header .header_func .loginInfo #func_logout {
  color: #395dff;
  -webkit-text-decoration: solid;
          text-decoration: solid;
}

header .header_func > * {
  display: inline-block;
  vertical-align: middle;
}

header .header_func > * + * {
  margin-left: 20px;
}

header .header_func select {
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  border: solid 1px #cccccc;
  /*很关键：将默认的select选择框样式清除*/
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  /*在选择框的最右侧中间显示小箭头图片*/
  background: url("../../image/select-arrow.png") no-repeat scroll right center transparent;
  background-position-x: calc(100% - 12px);
  background-size: 1.2rem;
  background-color: #fff;
  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding-right: 18px;
  width: 262px;
  color: #6e6e6e;
  height: 36px;
  text-align-last: center;
  border-radius: 0px;
}

header .header_func select::-ms-expand {
  display: none;
}

header .header_func .btn {
  position: relative;
  cursor: pointer;
  padding: 0.5rem 0px;
}

header .header_func .btn .tip {
  position: absolute;
  left: 50%;
  top: -18%;
  background: red;
  color: #fff;
  padding: 5px;
  z-index: 5;
}

header .header_func .btn #func_mach_add,
header .header_func .btn #func_map {
  width: 35px;
}

header .func_log {
  display: none;
}

header .header_burgerlist {
  display: none;
  position: relative;
  cursor: pointer;
}

@media (max-width: 1024px) {
  header .header_burgerlist {
    display: block;
    width: 25px;
    height: 20px;
    margin-right: 25px;
  }
}

@media (max-width: 1024px) and (max-width: 500px) {
  header .header_burgerlist {
    margin-right: 0;
    width: 30px;
  }
}

header .header_burgerlist > span {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background: #2e363c;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header .header_burgerlist > span:nth-child(1) {
  top: 0;
}

header .header_burgerlist > span:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

header .header_burgerlist > span:nth-child(3) {
  bottom: 0;
}

@media screen and (max-width: 1024px) {
  header .hide-mobile {
    display: none;
  }
}

.main_control {
  margin-left: 25px;
  top: 80px;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  pointer-events: none;
}

@media screen and (max-width: 1200px) and (min-width: 1025px) {
  .main_control {
    font-size: 16px;
    margin-left: 0px;
  }
}

.main_control > li {
  display: inline-block;
  margin: 5px;
}

.main_control > li a {
  display: block;
  cursor: default;
  color: #fff;
}

@media (max-width: 1024px) {
  .main_control > li a {
    color: #000;
  }
}

.main_control > li a > span {
  display: inline-block;
  vertical-align: middle;
  background: #1e4ba1;
  background: linear-gradient(7deg, #1e4ba1 0%, #158afd 100%);
  border-radius: 5px;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  position: relative;
  opacity: 0.5;
}

.main_control > li a > span img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 1;
}

.main_control.active {
  pointer-events: all;
}

.main_control.active > li {
  display: inline-block;
  margin: 5px;
}

.main_control.active > li a {
  display: block;
  cursor: default;
  text-decoration: none;
}

.main_control.active > li a > span {
  opacity: 1;
}

.main_control.active li:hover a {
  color: red;
}

.main_control.active li:hover a span {
  background: #711ea1;
  background: linear-gradient(7deg, #711ea1 0%, #fd1515 100%);
}

.down {
  padding-top: 81px;
  width: 100%;
  min-height: 100%;
  background: url(../../image/bg-main.png) center no-repeat;
  background-size: cover;
}

@media (max-width: 1024px) {
  .down {
    width: 100%;
    margin-left: 0;
    padding-top: 80px;
    padding-bottom: 100px;
  }
}

.down .listDialog {
  position: absolute;
  width: 100%;
  display: none;
  background: url(../../image/bg-main.png) center no-repeat;
  background-size: cover;
  height: 100%;
  z-index: 4;
  padding-bottom: 80px;
}

.down .contentDown {
  display: none;
}

.c__full {
  width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.tb__user {
  max-width: 100%;
  overflow-x: hidden;
}

.tb__user .th {
  border-bottom: none;
}

@media (max-width: 1024px) {
  .tb__user .th {
    display: none;
  }
}

.tb__user > table {
  width: 100%;
}

.tb__user > table tr {
  position: relative;
  border-bottom: 1px solid #316461;
  cursor: pointer;
  background-color: #fff;
}

@media (max-width: 1024px) {
  .tb__user > table tr {
    display: -ms-grid;
    display: grid;
    background-color: #f1f8fe;
    border-bottom: 3px solid #316461;
  }
}

.tb__user > table tr .mobile-th {
  display: none;
}

@media (max-width: 1024px) {
  .tb__user > table tr .mobile-th {
    display: table-cell;
    float: left;
    text-align: center;
    letter-spacing: 1px;
    width: 115px;
    word-break: break-word;
  }
}

.tb__user > table tr input {
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 100%;
}

.tb__user > table tr.js-user-tr input[type='checkbox'] {
  pointer-events: none;
}

.tb__user > table tr.selected {
  background-color: #eff8fd;
}

@media (max-width: 1024px) {
  .tb__user > table tr.selected {
    background-color: #e1ecfb;
  }
}

.tb__user > table th {
  background: #29567e;
  color: #fff;
}

.tb__user > table th,
.tb__user > table td {
  padding: 20px;
  text-align: center;
  word-break: break-word;
  font-weight: normal;
}

@media (max-width: 1024px) {
  .tb__user > table th,
  .tb__user > table td {
    padding: 20px 0px;
  }
  .tb__user > table th div,
  .tb__user > table td div {
    display: table-cell;
  }
}

@media (max-width: 1024px) {
  .tb__user > table td {
    border-bottom: 1px solid #9E9E9E;
    width: 100%;
    text-align: left;
    -ms-grid-column: 1;
    grid-column: 1;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 115px 1fr;
        grid-template-columns: 115px 1fr;
  }
  .tb__user > table td div:last-child {
    margin-right: 10px;
  }
}

.tb__user > table td .name,
.tb__user > table td #mach_country {
  display: none;
  color: #000;
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  .tb__user > table td .name,
  .tb__user > table td #mach_country {
    display: block;
  }
  .tb__user > table td .name div,
  .tb__user > table td #mach_country div {
    width: calc((100vw - 115px) / 2);
  }
}

@media (max-width: 1024px) {
  .tb__user > table td .status {
    max-width: 120px;
    margin: 0 auto;
  }
}

.tb__user > table td .status:before {
  content: '';
  float: left;
  margin-right: 10px;
  width: 30px;
  height: 20px;
  background: url(../../image/icon-offline.png) center no-repeat;
  background-size: contain;
}

.tb__user > table td .mach_city_mobile {
  display: none;
}

@media (max-width: 1024px) {
  .tb__user > table td .mach_city_mobile {
    display: table-cell;
  }
}

.tb__user > table td:nth-child(2) {
  /*狀態*/
  min-width: 170px;
  white-space: nowrap;
}

@media (max-width: 1024px) {
  .tb__user > table td:nth-child(2) {
    padding-left: 20px;
    display: inline-block;
    position: absolute;
    width: unset;
    min-width: unset;
    right: 10px;
  }
}

.tb__user > table td:nth-child(3) {
  /*名字*/
  min-width: 130px;
}

@media (max-width: 1024px) {
  .tb__user > table td:nth-child(3) {
    -ms-grid-columns: 115px auto auto;
        grid-template-columns: 115px auto auto;
    -ms-grid-columns: 115px 1fr 1fr;
        grid-template-columns: 115px 1fr 1fr;
  }
  .tb__user > table td:nth-child(3) div:last-child {
    margin-right: 5px;
  }
}

.tb__user > table td:nth-child(4) {
  /*描述*/
  min-width: 180px;
}

.tb__user > table td:nth-child(5) {
  /*mail*/
  min-width: 150px;
}

.tb__user > table td:nth-child(6) {
  /*國家*/
  min-width: 100px;
  word-break: keep-all;
}

@media (max-width: 1024px) {
  .tb__user > table td:nth-child(6) {
    -ms-grid-columns: 115px auto auto;
        grid-template-columns: 115px auto auto;
    -ms-grid-columns: 115px 1fr 1fr;
        grid-template-columns: 115px 1fr 1fr;
  }
}

.tb__user > table td:nth-child(7) {
  /*城市*/
  min-width: 100px;
  word-break: keep-all;
}

.tb__user > table td:nth-child(8) {
  /*device*/
  min-width: 180px;
}

@media (max-width: 1024px) {
  .tb__user > table td.hide-mobile {
    display: none;
  }
}

.tb__user > table .hide-web {
  display: none;
}

@media (max-width: 1024px) {
  .tb__user > table .hide-web {
    display: table-cell;
  }
}

.tb__user > table .On-line {
  color: #00abc6;
}

.tb__user > table .On-line .status:before {
  content: '';
  float: left;
  margin-right: 10px;
  width: 30px;
  height: 20px;
  background: url(../../image/icon-online.png) center no-repeat;
  background-size: contain;
}

.tb__user > table .connecting {
  color: #049900;
}

.tb__user > table .connecting .status:before {
  content: '';
  float: left;
  margin-right: 10px;
  width: 30px;
  height: 20px;
  background: url(../../image/icon-connect.png) center no-repeat;
  background-size: contain;
}

.tb__user > table .Off-line {
  color: #e00000;
}

.tb__user > table .Off-line .status:before {
  content: '';
  float: left;
  margin-right: 10px;
  width: 30px;
  height: 20px;
  background: url(../../image/icon-offline.png) center no-repeat;
  background-size: contain;
}

.tb__user__detail__foot *,
.tb__user__head * {
  display: inline-block;
  vertical-align: middle;
}

.tb__user__detail__foot .search,
.tb__user__head .search {
  padding: 3px 0px;
  margin-top: 5px;
  background: #fff;
  width: 20vw;
  float: right;
}

@media screen and (max-width: 1200px) and (min-width: 1025px) {
  .tb__user__detail__foot .search,
  .tb__user__head .search {
    width: 15.9vw;
  }
}

.tb__user__detail__foot .search input,
.tb__user__head .search input {
  padding: 5px;
  width: calc(100% - 48px);
  border: 0;
}

.tb__user__detail__foot .search button,
.tb__user__head .search button {
  background: transparent;
  border: 0;
}

.tb__user__detail__foot .search #show_search_btn,
.tb__user__head .search #show_search_btn {
  display: none;
}

.pd__title {
  padding: 10px 23px;
}

@media screen and (max-width: 1200px) and (min-width: 1025px) {
  .pd__title {
    padding: 10px;
  }
}

.c__title {
  color: #fff;
  font-size: 24px;
  letter-spacing: 2px;
}

@media screen and (max-width: 1200px) and (min-width: 1025px) {
  .c__title {
    font-size: 20px;
  }
}

.c__block__head__btn {
  background: red;
  width: 70px;
  height: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  vertical-align: middle;
  -ms-flex-align: center;
      align-items: center;
}

.c__block__head__btn img {
  margin: 0 auto;
  width: 25%;
}

.c__block__head__btn:hover {
  background: #cd0000;
}

.c__block {
  width: 100%;
  padding: 5px;
}

.c__block .wrap {
  background: #fff;
}

.c__block .c__block__head {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 10px 30px;
  background: #29567e;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c__block .c__block__head .c__block__head__user__wrap {
  letter-spacing: 1px;
  width: calc(100% - 225px);
}

.c__block .c__block__head .c__block__head__user__wrap span {
  vertical-align: middle;
}

.c__block .c__block__head .c__block__head__user__wrap .linkUser {
  margin-right: 10px;
  display: inline-block;
}

.c__block .c__block__head .c__block__head__user__wrap .linkUser:nth-child(1) {
  display: contents;
}

.c__block .c__block__head .head_btn {
  width: 225px;
  text-align: right;
}

.c__block .c__block__head .head_btn > a {
  opacity: 0.5;
  pointer-events: none;
}

.c__block .c__block__head .head_btn .add_Device {
  opacity: 1;
  pointer-events: all;
}

.c__block .c__block__head .head_btn.active > a {
  opacity: 1;
  pointer-events: all;
}

.c__block .c__block__head .head_btn.active .add_Device {
  opacity: 0.5;
  pointer-events: none;
}

.c__block .c__block__body {
  padding: 20px 0;
  position: relative;
}

.c__block .connect {
  max-width: 100%;
  overflow-x: hidden;
}

.c__block .connect ul {
  margin: 0px 0px 0px 5px;
  list-style: none;
  line-height: 2em;
  font-family: Arial;
  padding-left: 20px;
}

.c__block .connect ul li {
  font-size: 16px;
  position: relative;
}

.c__block .connect ul li img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.c__block .connect ul li a {
  margin-right: 10px;
  color: #248dfc;
  text-decoration: underline;
}

.c__block .connect ul li ul > li:before {
  position: absolute;
  left: -15px;
  top: 0px;
  content: '';
  display: block;
  border-left: 2px dotted #aaa;
  height: 1em;
  border-bottom: 2px dotted #aaa;
  width: 10px;
}

.c__block .connect ul li.root {
  margin: 0px 0px 0px -5px;
}

.c__block .connect ul table {
  table-layout: fixed;
}

.c__block .connect ul table tr {
  position: relative;
}

.c__block .connect ul table tr:before {
  left: -15px;
  top: 0px;
  content: '';
  display: block;
  border-left: 2px dotted #aaa;
  height: 1em;
  border-bottom: 2px dotted #aaa;
  width: 10px;
}

@media (max-width: 1281px) {
  .c__block .connect ul table tr:before {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

.c__block .connect ul table tr:after {
  position: absolute;
  left: 0px;
  top: 0;
  content: '';
  display: block;
  border-left: 2px dotted #aaa;
  height: 75%;
}

.c__block .connect ul table td {
  padding-left: 10px;
}

@media (max-width: 1281px) {
  .c__block .connect ul table td {
    padding-left: 20px;
    line-height: 1.5;
  }
}

@media (max-width: 1281px) {
  .c__block .connect ul table .light-mobile {
    color: #969696;
  }
}

.c__block .connect ul table input[type='checkbox'] {
  pointer-events: none;
}

.mobile_control {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  position: fixed;
  z-index: 1;
  left: 0;
  bottom: 0;
  display: none;
  background: rgba(0, 0, 0, 0);
  padding: 5px 0;
  pointer-events: none;
  opacity: 0.5;
}

.mobile_control li {
  margin: 0px 1px;
  max-width: 65px;
}

.mobile_control img {
  width: 100%;
}

@media (max-width: 1024px) {
  .mobile_control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.mobile_control.active {
  pointer-events: all;
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  #logDialog {
    border: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
  }
  #logDialog ul.logContent {
    padding: 60px 3vw 20px 3vw;
    max-height: calc(100% - 80px);
    overflow: auto;
  }
  #logDialog .foot {
    position: absolute;
    top: 0;
    width: 100%;
  }
  .hide-mobile {
    display: none;
  }
  .tb__user > table td:nth-child(1) {
    display: none;
  }
  .c__block__head__btn {
    width: 35px;
    height: 35px;
  }
  .c__block__head__btn img {
    margin: 0 auto;
    width: 55%;
  }
  .c__block .c__block__head {
    padding: 10px 5px 10px 10px;
  }
  .c__block .c__block__head .c__block__head__user__wrap {
    word-break: break-all;
    width: 100%;
  }
  .c__block .c__block__head .head_btn {
    width: 200px;
  }
  .c__block .c__block__body {
    padding: 10px 0px;
  }
  .c__block .connect ul {
    margin: 0px;
  }
  .c__block .connect ul table td {
    padding-left: 3px;
  }
  .c__block .connect ul table td:nth-child(n+3) {
    display: block;
  }
  .c__block .connect ul table .connect_checkbox {
    vertical-align: top;
    padding-top: 10px;
  }
  .c__block .connect #mach_disconnect {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .tb__user__detail__foot .search,
  .tb__user__head .search {
    position: absolute;
    right: 23px;
    width: auto;
    background: transparent;
  }
}

@media screen and (max-width: 768px) and (max-width: 500px) {
  .tb__user__detail__foot .search,
  .tb__user__head .search {
    right: 5px;
  }
}

@media screen and (max-width: 768px) {
  .tb__user__detail__foot .search input,
  .tb__user__head .search input {
    display: none;
  }
  .tb__user__detail__foot .search #show_search_btn,
  .tb__user__head .search #show_search_btn {
    display: inline-block;
  }
  .tb__user__detail__foot .search #searchkeyword_btn,
  .tb__user__head .search #searchkeyword_btn {
    display: none;
  }
  .tb__user__detail__foot .search.active,
  .tb__user__head .search.active {
    width: 100%;
    background: #fff;
    padding: 10px 20px;
    right: 0;
    margin-top: -4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .tb__user__detail__foot .search.active input,
  .tb__user__head .search.active input {
    display: inline-block;
  }
  .tb__user__detail__foot .search.active #show_search_btn,
  .tb__user__head .search.active #show_search_btn {
    display: none;
  }
  .tb__user__detail__foot .search.active #searchkeyword_btn,
  .tb__user__head .search.active #searchkeyword_btn {
    display: inline-block;
  }
  .c__title {
    text-align: center;
    margin: 0 auto;
  }
  .translucentBg .form_buleBg {
    width: 80vw;
  }
}

@media screen and (max-width: 699px) {
  .translucentBg {
    background-color: rgba(255, 255, 255, 0);
    z-index: 5;
    overflow: auto;
  }
  .translucentBg .form_buleBg {
    width: 100vw;
    border: 0px;
    margin-top: 80px;
    background-color: #eaeaea;
  }
  .translucentBg .form_buleBg .form_type {
    padding: 15px 10px 5px 10px;
  }
  .translucentBg .form_buleBg .form_type .formName {
    display: block;
    color: #00abdd;
    vertical-align: bottom;
  }
  .translucentBg .form_buleBg .form_type .formName img {
    width: 35px;
    vertical-align: bottom;
  }
  .translucentBg .form_buleBg .form_type .attension {
    color: #ba0000;
    margin-top: 5px;
    padding-left: 5px;
    width: 100%;
  }
  .translucentBg .form_buleBg .form_type .attension img {
    margin-right: 5px;
    width: 25px;
  }
  .translucentBg .form_buleBg > ul {
    padding: 15px 15px 25vw 15px;
    max-height: unset;
    overflow: hidden;
    min-height: calc(100vh - 80px - 55px - 28px);
  }
  .translucentBg .form_buleBg > ul > li label {
    width: 100%;
    text-align: center;
    margin-bottom: 2px;
  }
  .translucentBg .form_buleBg > ul > li label span {
    display: none;
  }
  .translucentBg .form_buleBg input {
    width: 100%;
    margin-left: 0px;
  }
  .translucentBg .form_buleBg .foot {
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  #qa_delete .form_buleBg {
    width: 80vw;
  }
  #qa_delete .form_buleBg .showTxt {
    padding: 10px 20px 20px 20px;
  }
  #qa_delete .form_buleBg .foot {
    padding: 5px;
  }
  .dialog_control li {
    margin-right: 15px;
  }
}

@media screen and (max-width: 499px) {
  #qa_delete .form_buleBg .foot button img {
    margin-right: 15px;
  }
  .dialog_control {
    height: 70px;
  }
  .dialog_control li {
    margin: 0 auto;
  }
  .dialog_control li a span:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .translucentBg,
  #qa_delete {
    font-size: 1em;
  }
}

.hightLight {
  background-color: yellow;
}
/*# sourceMappingURL=main.css.map */