ol, ul {
  list-style: none;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}
input, textarea, button, select, a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
  text-decoration: none;
  color: inherit;
}
fieldset, img {
  border: 0;
}

#logDialog{
  border: 10px solid #2d3943;
  position: fixed;
  background-color: #fff;
  z-index: 15;
  right: 30px;
  display: none;
  ul.logContent{
    width: 100%;
    padding: 5px 10px;
    font-size: 1em;
    max-height: 300px;
    overflow: auto;
    li{
      padding: 5px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      .timestamp{
        color: #0c5460;
      }
      .logoDes{
        margin-left: 10px;
      }
    }
  }
  .foot{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    background-color: #2d3943;
    .btn{
      width: 50%;
      display: inline-block;
      font-weight: bold;
      color: #fff;
      opacity: 0.4;
      img{
        height: 30px;
        margin-right: 20px;
        vertical-align: middle;
      }
      span{
        height: 30px;
        vertical-align: middle;
      }
    }
    .btn:hover{
      opacity: 1;
    }
    .close{
      width: 25%;
      img{
        margin: 0;
      }
    }
  }
}

.translucentBg,
#qa_delete {
  background-color: rgba(255,255,255,0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  display: none;
  .form_buleBg{
    background: #fff;
    width: 550px;
    border: 4px solid #2d3943;
    margin: 0 auto;
    margin-top: 5vh;
    .form_type{
      padding: 30px 25px 10px 25px;
      img{
        width: 20px;
        vertical-align: text-top;
      }
      .attension{
        float: right;
      }
    }
    > ul{
      padding: 0px 25px 10px 25px;
      max-height: 415px;
      overflow-y: auto;
      width: 100%;
      >li{
        label{
          width: 168px;
          text-align: right;
        }
      }
      > li + li {
        margin-top: 10px;
      }
    }
    input{
      border: 1px solid rgba(0, 0, 0, 0.3);
      width: 310px;
      margin-left: 5px;
    }
    .notNull{
      z-index: 999;
      background-image: url('../../image/attention.png');
      background-repeat: no-repeat;
      background-size: 25px;
      background-position: right top;
      padding-right: 27px;
    }
    title{
      color: #003eff;
      font-size: 1.5em;
      display: block;
      text-align: center;
      margin-top: 20px;
    }
    .showTxt{
      margin: 0 auto;
      word-break: break-all;
      padding: 15px 35px 35px 35px;
    }

    .foot{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;

      background-color: #2d3943;
      padding: 10px 40px;
      color: #fff;
      button{
        width: 50%;
        display: inline-block;
        font-weight: bold;
        color: #FFF;
        background-color: #2d3943;
        border: 0px;
        img{
          height: 30px;
          margin-right: 20px;
          vertical-align: bottom;
        }
      }
      #addNewConnectBtn,
      #editConnectBtn{
        display: none;
      }
    }
  }
}

#loadingPage{
  background-color: rgba(255,255,255,0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;

  div{
    background-image: url("../../image/operwait.gif");
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    background-size: 100%;
  }
}

#burger {
  position: fixed;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}
// burger click event
#burger:checked ~ header{
  .header_burgerlist{
    span:nth-child(1) {
      -webkit-transform: translateY(10px) rotate(45deg);
      -ms-transform: translateY(10px) rotate(45deg);
      transform: translateY(10px) rotate(45deg);
    }
    span:nth-child(2) {
      width: 0;
    }
    span:nth-child(3) {
      -webkit-transform: translateY(-8px) rotate(-45deg);
      -ms-transform: translateY(-8px) rotate(-45deg);
      transform: translateY(-8px) rotate(-45deg);
    }
  }
  .header_menu{
    left: 0;
  }
}

header{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #fff;
  width: 100%;
  height: 80px;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  @media (max-width: 1024px){//1025px
    border-bottom: 1px solid #aaa;
    padding-left: 20px;
    padding-right: 20px;
    height: 80px;
  }

  .header_menu{
    position: fixed;
    left: -100%;
    top: 80px;
    width: 210px;
    height: calc(100vh - 80px);
    background-color: #2e363c;
    background-image: url(../../image/bg-nav.png);
    border-right: 4px solid #1e1e1e;
    -webkit-transition: left 0.8s;
    -o-transition: left 0.8s;
    transition: left 0.8s;
    z-index: 10;
    .l__header__menu__user{
      padding: 15px 20px;
      position: relative;
      background: rgba(0, 0, 0, 0.5);
      .name{
        color: #fff;
        font-size: 20px;
        margin-bottom: 10px;
      }
      .mail{
        font-size: 14px;
        color: #aaa;
        margin-bottom: 5px;
      }
      .identity {
        font-size: 14px;
        color: #e0c904;
      }
      .icon {
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }
    .mobile-language {
      width: 100%;
      border: solid 1px #cccccc;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      background: url(../../image/select-arrow.png) no-repeat scroll right center transparent;
      background-position-x: calc(100% - 12px);
      background-size: 1.2rem;
      background-color: #fff;
      padding-right: 18px;
      padding-left: 25px;
      color: #6e6e6e;
      height: 40px;
      //text-align-last: center;
      border-radius: 0;
      letter-spacing: 7px;
    }
    ul > li a {
      display: block;
      padding: 17px 25px;
      color: #fff;
      font-size: 18px;
      text-decoration: none;
      img {
        display: inline-block;
        vertical-align: middle;
        margin-right: 25px;
        width: 20px;
      }
    }
    ul > li a:hover,
    ul > li a.active {
      background: rgba(1, 177, 177, 0.5);
    }
    .tip{
      position: absolute;
      background: red;
      color: #fff;
      padding: 3px;
      z-index: 5;
      right: 12%;
    }
  }
  .logo{
    position: relative;
    *{
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
      @media (max-width: 500px) {
        margin-right: 10px;
      }
    }
    img{
      width: 300px;
      @media (max-width: 500px){//1025px
        width: 250px;
        margin-left: -6px;
      }
    }
    .version{
      font-size: 1rem;
      letter-spacing: 1.5px;
      @media (max-width: 768px) {
        font-size: 0.6rem;
      }
    }
  }

  .header_func{
    text-align: right;
    .loginInfo{
      display: flex;
      margin-bottom: 5px;
      margin-top: 5px;
      font-size: 14px;
      padding-left: 25px;
      > *{
        display: inline-block;
        vertical-align: middle;
        margin: 0px 5px;
      }
      #func_logout{
        color: #395dff;
        text-decoration: solid;
      }
    }
    > *{
      display: inline-block;
      vertical-align: middle;
    }
    > * + *{
      margin-left: 20px;
    }
    select{
      /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
      border: solid 1px #cccccc;
      /*很关键：将默认的select选择框样式清除*/
      appearance:none;
      -moz-appearance:none;
      -webkit-appearance:none;
      /*在选择框的最右侧中间显示小箭头图片*/
      background: url("../../image/select-arrow.png") no-repeat scroll right center transparent;
      background-position-x: calc(100% - 12px);
      background-size: 1.2rem;
      background-color: #fff;
      /*为下拉小箭头留出一点位置，避免被文字覆盖*/
      padding-right: 18px;

      width: 262px;
      color: #6e6e6e;
      height: 36px;
      text-align-last: center;
      border-radius: 0px;
    }
    /*清除ie的默认选择框样式清除，隐藏下拉箭头*/
    select::-ms-expand { display: none; }

    .btn{
      position: relative;
      cursor: pointer;
      padding: 0.5rem 0px;
      .tip{
        position: absolute;
        left: 50%;
        top: -18%;
        background: red;
        color: #fff;
        padding: 5px;
        z-index: 5;
      }
      #func_mach_add,
      #func_map{
        width: 35px;
      }
    }
  }

  .func_log{
    display: none;
  }

  .header_burgerlist{
    display: none;
    position: relative;
    cursor: pointer;
    @media (max-width: 1024px){//1025px
      display: block;
      width: 25px;
      height: 20px;
      margin-right: 25px;
      @media (max-width: 500px){
        margin-right: 0;
        width: 30px;
      }
    }
    > span {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 2px;
      background: #2e363c;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
    }
    > span:nth-child(1) {
      top: 0;
    }
    > span:nth-child(2) {
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    > span:nth-child(3) {
      bottom: 0;
    }
  }

  @media screen and (max-width: 1024px){ //1025px
    .hide-mobile {
      display: none;
    }
  }
}

.main_control{
  margin-left: 25px;
  top: 80px;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  pointer-events: none;
  @media screen and (max-width: 1200px) and (min-width: 1025px){
    font-size: 16px;
    margin-left: 0px;
  }
  > li{
    display: inline-block;
    margin: 5px;
    a{
       display: block;
       cursor: default;
       color: #fff;
      @media (max-width: 1024px) {
        color: #000;
      }
       > span{
         display: inline-block;
         vertical-align: middle;
         background: #1e4ba1;
         background: -webkit-linear-gradient(83deg, #1e4ba1 0%, #158afd 100%);
         background: -o-linear-gradient(83deg, #1e4ba1 0%, #158afd 100%);
         background: linear-gradient(7deg, #1e4ba1 0%, #158afd 100%);
         border-radius: 5px;
         width: 40px;
         height: 40px;
         margin-right: 10px;
         position: relative;
         opacity: 0.5;
         img{
           position: absolute;
           left: 50%;
           top: 50%;
           -webkit-transform: translate(-50%, -50%);
           -ms-transform: translate(-50%, -50%);
           transform: translate(-50%, -50%);

           width: 50%;
           z-index: 1;
         }
       }
     }
  }
}
.main_control.active {
  pointer-events: all;
  > li{
    display: inline-block;
    margin: 5px;
    a{
      display: block;
      cursor: default;
      text-decoration: none;
      > span{
        opacity: 1;
      }
    }
  }
  li:hover{
    a{
      color: red;
      span{
        background: #711ea1;
        background: -webkit-linear-gradient(83deg, #711ea1 0%, #fd1515 100%);
        background: -o-linear-gradient(83deg, #711ea1 0%, #fd1515 100%);
        background: linear-gradient(7deg, #711ea1 0%, #fd1515 100%);
      }
    }
  }
}

.down{
  //margin-top: 142px;
  padding-top: 81px;
  width: 100%;
  min-height: 100%;
  background: url(../../image/bg-main.png) center no-repeat;
  background-size: cover;
  @media (max-width: 1024px){//1025px
    width: 100%;
    margin-left: 0;
    padding-top: 80px;
    padding-bottom: 100px;
  }
  .listDialog{
    position: absolute;
    width: 100%;
    display: none;
    background: url(../../image/bg-main.png) center no-repeat;
    background-size: cover;
    height: 100%;
    z-index: 4;
    padding-bottom: 80px;
  }
  .contentDown{
    display: none;
  }
}
.c__full {
  width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.tb__user{
  max-width: 100%;
  overflow-x: hidden;
  .th {
    border-bottom: none;
    @media (max-width: 1024px){
      display: none;
    }
  }
  > table {
    width: 100%;
    tr {
      position: relative;
      border-bottom: 1px solid #316461;
      cursor: pointer;
      background-color: #fff;
      @media (max-width: 1024px) {
        display: grid;
        background-color: #f1f8fe;
        border-bottom: 3px solid #316461;
      }
      .mobile-th{
        display: none;
        @media (max-width: 1024px) {
          display: table-cell;
          float: left;
          text-align: center;
          letter-spacing: 1px;
          width: 115px;
          word-break: break-word;
        }
      }
      input{
        border: 1px solid rgba(0, 0, 0, 0.3);
        width: 100%;
      }
    }
    tr.js-user-tr{
      input[type='checkbox']{
        pointer-events: none;
      }
    }
    tr.selected{
      background-color: #eff8fd;
      @media (max-width: 1024px) {
        background-color: #e1ecfb;
      }
    }
    th {
      background: #29567e;
      color: #fff;
    }
    th,
    td {
      padding: 20px;
      text-align: center;
      word-break: break-word;
      font-weight: normal;
      @media (max-width: 1024px) {
        padding: 20px 0px;
        div{
          display: table-cell;
        }
      }
    }
    td{
      @media (max-width: 1024px) {
        border-bottom: 1px solid #9E9E9E;
        width: 100%;
        text-align: left;
        grid-column: 1;
        display: grid;
        grid-template-columns: 115px 1fr;
        div:last-child{
          margin-right: 10px;
        }
      }
      .name,
      #mach_country{
        display: none;
        color: #000;
        margin-bottom: 10px;
        @media (max-width: 1024px) {//1025px
          display: block;
          div{
            width: calc((100vw - 115px) / 2);
          }
        }
      }
      .status{
        @media (max-width: 1024px){//1025px
          max-width: 120px;
          margin: 0 auto;
        }
      }
      .status:before{
        content: '';
        float: left;
        margin-right: 10px;
        width: 30px;
        height: 20px;
        background: url(../../image/icon-offline.png) center no-repeat;
        background-size: contain;
      }
      .mach_city_mobile{
        display: none;
        @media (max-width: 1024px) {
          display: table-cell;
        }
      }
    }
    td:nth-child(2) { /*狀態*/
      min-width: 170px;
      white-space: nowrap;
      @media (max-width: 1024px) {//1025px
        padding-left: 20px;
        display: inline-block;
        position: absolute;
        width: unset;
        min-width: unset;
        right: 10px;
      }
    }
    td:nth-child(3) { /*名字*/
      min-width: 130px;
      @media (max-width: 1024px) {
        grid-template-columns: 115px auto auto;
        grid-template-columns: 115px 1fr 1fr;

        div:last-child{
          margin-right: 5px;
        }
      }
    }
    td:nth-child(4) { /*描述*/
      min-width: 180px;
      //@media (max-width: 1024px) {
      //  display: block;
      //}
    }
    td:nth-child(5) { /*mail*/
      min-width: 150px;
      //@media (max-width: 1024px) {
      //  display: block;
      //}
    }
    td:nth-child(6) {/*國家*/
      min-width: 100px;
      word-break: keep-all;
      @media (max-width: 1024px) {
        grid-template-columns: 115px auto auto;
        grid-template-columns: 115px 1fr 1fr;

      }
    }
    td:nth-child(7) {/*城市*/
      min-width: 100px;
      word-break: keep-all;
    }
    td:nth-child(8) {/*device*/
      min-width: 180px;
      //@media (max-width: 1024px) {
      //  display: block;
      //}
    }
    td.hide-mobile{
      @media (max-width: 1024px) {
        display: none;
      }
    }
    .hide-web{
      display: none;
      @media (max-width: 1024px) {
        display: table-cell;
      }
    }
    .On-line {
      color: #00abc6;
      .status:before {
        content: '';
        float: left;
        margin-right: 10px;
        width: 30px;
        height: 20px;
        background: url(../../image/icon-online.png) center no-repeat;
        background-size: contain;
      }
    }
    .connecting {
      color: #049900;
      .status:before {
        content: '';
        float: left;
        margin-right: 10px;
        width: 30px;
        height: 20px;
        background: url(../../image/icon-connect.png) center no-repeat;
        background-size: contain;
      }
    }
    .Off-line {
      color: #e00000;
      .status:before {
        content: '';
        float: left;
        margin-right: 10px;
        width: 30px;
        height: 20px;
        background: url(../../image/icon-offline.png) center no-repeat;
        background-size: contain;
      }
    }
  }
}

.tb__user__detail__foot,
.tb__user__head {
  * {
    display: inline-block;
    vertical-align: middle;
  }
  .search {
    padding: 3px 0px;
    margin-top: 5px;
    background: #fff;
    width: 20vw;
    float: right;
    @media screen and (max-width: 1200px) and (min-width: 1025px){
      width: 15.9vw;
    }
    input {
      padding: 5px;
      width: calc(100% - 48px);
      border: 0;
    }
    button {
      background: transparent;
      border: 0;
    }
    #show_search_btn{
      display: none;
    }
  }
}
.pd__title {
  padding: 10px 23px;
  @media screen and (max-width: 1200px) and (min-width: 1025px){
    padding: 10px;
  }
}
.c__title {
  color: #fff;
  font-size: 24px;
  letter-spacing: 2px;
  @media screen and (max-width: 1200px) and (min-width: 1025px){
    font-size: 20px;
  }
}



.c__block__head__btn{
  background: red;
  width: 70px;
  height: 30px;
  display: inline-flex;
  -webkit-box-align: center;
  vertical-align: middle;
  align-items: center;
  img{
    margin: 0 auto;
    width: 25%;
  }
}
.c__block__head__btn:hover{
  background: #cd0000;
}

.c__block {
  width: 100%;
  padding: 5px;
  .wrap{
    background: #fff;
  }
  .c__block__head {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 10px 30px;
    background: #29567e;
    color: #fff;
    display: flex;
    .c__block__head__user__wrap{
      letter-spacing: 1px;
      width: calc(100% - 225px);
      span{
        vertical-align: middle;
      }
      .linkUser {
        margin-right: 10px;
        display: inline-block;
      }
      .linkUser:nth-child(1){
        display: contents;
      }
    }
    .head_btn{
      width: 225px;
      text-align: right;
      > a{
        opacity: 0.5;
        pointer-events: none;
      }
      .add_Device{
        opacity: 1;
        pointer-events: all;
      }
    }
    .head_btn.active{
      > a{
        opacity: 1;
        pointer-events: all;
      }
      .add_Device{
        opacity: 0.5;
        pointer-events: none;
      }

    }
  }
  .c__block__body {
    padding: 20px 0;
    position: relative;
  }
  .connect {
    max-width: 100%;
    overflow-x: hidden;
    ul{
      margin: 0px 0px 0px 5px;
      list-style: none;
      line-height: 2em;
      font-family: Arial;
      padding-left: 20px;
      li{
        font-size: 16px;
        position: relative;
        img{
          display: inline-block;
          vertical-align: middle;
          margin-right: 10px;
        }
        a{
          margin-right: 10px;
          color: #248dfc;
          text-decoration: underline;
        }
        ul{
         > li:before {
            position: absolute;
            left: -15px;
            top: 0px;
            content: '';
            display: block;
            border-left: 2px dotted #aaa;
            height: 1em;
            border-bottom: 2px dotted #aaa;
            width: 10px;
          }
        }
      }

      li.root{
        margin: 0px 0px 0px -5px;
      }
      table{
        table-layout: fixed;
        tr{
          position: relative;
        }
        tr:before {
          left: -15px;
          top: 0px;
          content: '';
          display: block;
          border-left: 2px dotted #aaa;
          height: 1em;
          border-bottom: 2px dotted #aaa;
          width: 10px;
          @media (max-width: 1281px){
            -webkit-transform: translateY(0px);
            -ms-transform: translateY(0px);
            transform: translateY(0px);
          }
        }
        tr:after {
          position: absolute;
          left: 0px;
          top: 0;
          content: '';
          display: block;
          border-left: 2px dotted #aaa;
          height: 75%;
        }
        td{
          padding-left: 10px;
          @media (max-width: 1281px){
            padding-left: 20px;
            line-height: 1.5;
          }
        }
        .light-mobile {
          @media (max-width: 1281px){
            color: #969696;
          }
        }
        input[type='checkbox']{
          pointer-events: none;
        }
      }
    }
  }
}

.mobile_control {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  position: fixed;
  z-index: 1;
  left: 0;
  bottom: 0;
  display: none;
  background: rgba(0,0,0,0);
  padding: 5px 0;
  pointer-events: none;
  opacity: 0.5;
  li{
    margin: 0px 1px;
    max-width: 65px;
  }
  img{
    width: 100%;
  }
  @media (max-width: 1024px){//1025px
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
  }
}
.mobile_control.active {
  pointer-events: all;
  opacity: 1;
}


@media screen and (max-width: 1024px){//1025px
  #logDialog{
    border: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    ul.logContent{
      padding: 60px 3vw 20px 3vw;
      max-height: calc(100% - 80px);
      overflow: auto;
      li{
        .timestamp{
        }
      }
    }
    .foot{
      position: absolute;
      top:0;
      width: 100%;
      .btn{

        img{

        }
        span{

        }
      }
      .close{
        img{
        }
      }
    }
  }

  .hide-mobile {
    display: none;
  }
  .tb__user > table td:nth-child(1){
    display: none;
  }
  //contentDown
  .c__block__head__btn{
    width: 35px;
    height: 35px;
    img{
      margin: 0 auto;
      width: 55%;
    }
  }

  .c__block {
    .wrap{
    }
    .c__block__head {
      padding: 10px 5px 10px 10px;
      .c__block__head__user__wrap{
        word-break: break-all;
        width: 100%;
        span{
        }
        .linkUser {
        }
      }
      .head_btn{
        width: 200px;
      }
    }
    .c__block__body {
      padding: 10px 0px;
    }
    .connect {
      ul{
        margin: 0px;
        li{

          img{

          }
          a{

          }
          ul{
            > li:before {

            }
          }
        }

        li.root{
        }
        table{
          tr{
          }
          tr:before {

          }
          tr:after {

          }
          td{
            padding-left: 3px;
          }
          td:nth-child(n+3){
            display: block;
          }
          .light-mobile {

          }
          .connect_checkbox{
            vertical-align: top;
            padding-top: 10px;
          }
        }
      }
      #mach_disconnect{
        display: none;
      }
    }
  }
}

@media screen and (max-width: 768px){
  .tb__user__detail__foot,
  .tb__user__head{
    .search{
      position: absolute;
      right: 23px;
      @media (max-width: 500px){
        right: 5px;
      }
      width: auto;
      background: transparent;
      input{
        display: none;
      }
      #show_search_btn{
        display: inline-block;
      }
      #searchkeyword_btn{
        display: none;
      }
    }
    .search.active{
      width: 100%;
      background: #fff;
      padding: 10px 20px;
      right: 0;
      margin-top: -4px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: inline-flex;
      input{
        display: inline-block;
      }
      #show_search_btn{
        display: none;
      }
      #searchkeyword_btn{
        display: inline-block;
      }
    }
  }
  .pd__title{

  }
  .c__title{
    text-align: center;
    margin: 0 auto;
  }

  .translucentBg {
    .form_buleBg {
      width: 80vw;
    }
  }
}

@media screen and (max-width: 699px) {
  .translucentBg {
    background-color: rgba(255,255,255,0);
    z-index: 5;
    overflow: auto;
    .form_buleBg {
      width: 100vw;
      border: 0px;
      margin-top: 80px;
      background-color: #eaeaea;
      .form_type {
        padding: 15px 10px 5px 10px;
        .formName{
          display: block;
          color: #00abdd;
          vertical-align: bottom;
          img{
            width: 35px;
            vertical-align: bottom;
          }
        }
        .attension{
          color: #ba0000;
          margin-top: 5px;
          padding-left: 5px;
          width: 100%;
          img{
            margin-right: 5px;
            width: 25px;
          }
        }
      }
      > ul{
        padding: 15px 15px 25vw 15px;
        max-height: unset;
        overflow: hidden;
        min-height: calc(100vh - 80px - 55px - 28px);
        > li{
          label{
            width: 100%;
            text-align: center;
            margin-bottom: 2px;
            span{
              display: none;
            }
          }
        }
      }
      input{
        width: 100%;
        margin-left:0px;
      }
      .foot{
        padding: 10px;
        position: fixed;
        bottom: 0;
        width: 100%;
      }
    }
  }

  #qa_delete {
    .form_buleBg {
      width: 80vw;
      .showTxt{
        padding: 10px 20px 20px 20px;
      }
      .foot{
        padding: 5px;
      }
    }
  }

  .dialog_control{
    li{
      margin-right: 15px;
    }
  }
}

@media screen and (max-width: 499px){
  #qa_delete{
    .form_buleBg{
      .foot{
        button{
          img{
            margin-right: 15px;
          }
        }
      }
    }
  }

  .dialog_control{
    height: 70px;
    li{
      margin: 0 auto;
      a{
        span:nth-child(2){
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 320px){
  .translucentBg,
  #qa_delete{
    font-size: 1em;
  }
}

.hightLight{
  background-color: yellow;
}




